<% if notice != nil %>
  <div class="alert alert-info">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong><%= notice %></strong>
  </div>
<% end %>
<% if alert != nil %>
  <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong><%= alert %></strong>
  </div>
<% end %>
