.navbar {
  background-color: #428bca;
  .navbar-text {
    float:none;
    text-align: center;
    h1 {
      font-family: "Pacifico", sans-serif;
      font-size: 22pt;
      color: #fff;
    }
  }
}

.description {
  margin: 30px;
}

.btn-lg {
  margin: 15px;
}
