.navbar {
  background-color: #428bca;
  .navbar-text {
    float:none;
    text-align: center;
    h1 {
      font-family: "Pacifico", sans-serif;
      font-size: 22pt;
      color: #428bca;
    }
  }
}

.alert {
  margin-bottom: 0px;
}

.description {
  margin: 30px;
}

.btn {
  margin-right: 15px;
}

.btn-primary {
  background-color: #363e45;
  border-color: #000;
  &:hover {
    background-color: #7a8899;
    border-color: #000;
  }
  &:active {
    background-color: #7a8899;
    border-color: #000;
  }
  &:focus {
    background-color: #7a8899;
    border-color: #000;
  }
}

.btn-lg {
  margin: 15px;
}

.btn-new {
  margin-left: 35px;
}

.cushion {
  margin: 6px 12px;
}

h1 {
  margin-bottom: 30px;
  color: #363e45;
}

h3 {
  margin-top: 10px;
  margin-bottom: 30px;
}

@font-face {
  font-family: "Pacifico";
  src: url(Pacifico.ttf) format("truetype");
}
